<ion-header>
  <ion-navbar>
    <ion-title>Masuk Akun</ion-title>
  </ion-navbar>
</ion-header>

<ion-content id="login">
  <form [formGroup]="loginForm" (submit)="loginUser()" novalidate>
    <div class="row responsive-md">
      <div class="col col-50 col-offset-25">
        <ion-item>
          <ion-label stacked>Email</ion-label>
          <ion-input #email formControlName="email" type="email" placeholder="anda@domain.com" [class.invalid]="!loginForm.controls.email.valid && loginForm.controls.email.dirty"></ion-input>
        </ion-item>
          <ion-item class="error-message" *ngIf="!loginForm.controls.email.valid  && loginForm.controls.email.dirty">
          <p>Masukkan format email dengan valid.</p>
        </ion-item>

        <ion-item>
          <ion-label stacked>Password</ion-label>
          <ion-input #password formControlName="password" type="password" placeholder="******" [class.invalid]="!loginForm.controls.password.valid && loginForm.controls.password.dirty"></ion-input>
        </ion-item>
        <ion-item class="error-message" *ngIf="!loginForm.controls.password.valid  && loginForm.controls.password.dirty">
          <p>Password harus lebih dari 6 karakter.</p>
        </ion-item>

        <button ion-button block type="submit">Masuk</button>
        <button ion-button block clear (click)="goToSignup()">Daftar</button>
        <button ion-button block clear (click)="goToResetPassword()">Lupa password?</button>
      </div>
    </div>
  </form>
</ion-content>