page-tab {

.grid-basic-page {

  ion-col div {
    border-radius: 5px;
    text-align: center;
    color: white;
  }

  p {
    padding: 10px 0 0 10px !important;
    margin: 0;
  }

}
/*
.home {
    background: #56CA96;
  }
*/
.card-background-page {

  ion-card {
    position: relative;
    text-align: center;
  }

  ion-card-header{
    background-color: #bad4f8;
    }
  
  ion-card-content {
    text-align: justify;
    }

  .card-title {
    position: absolute;
    top: 36%;
    font-size: 2.0em;
    width: 100%;
    font-weight: bold;
    color: #fff;
  }

  .card-subtitle {
    font-size: 1.0em;
    position: absolute;
    top: 52%;
    width: 100%;
    color: #fff;
  }


}

 .getting-started {
  .home-hello {
    position: relative;

    .hello-title {
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      margin: 0;
      border: 0;
      background: rgba(255, 255, 255, 0.6);
      padding: 10px;
    }

    h1 {
      margin-top: 0;
    }
  }

 }

 .custom-icon {
  font-size: 24px;
  color : white;
}


}
