<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Berita Kampus</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
   <ion-buttons>
         <button ion-button full (click)="addRecord()">Tambah Berita Kampus</button>
   </ion-buttons>
   <ion-list>
      <ion-card class="movie" text-wrap *ngFor="let akakomfirebase of akakomfirebase | async">
         <ion-item>
            <h2>{{ akakomfirebase.title }}</h2>
            <small>{{ akakomfirebase.year }}</small>
            <img src="{{ akakomfirebase.duration }}">
            <p style="text-align:justify;">{{ akakomfirebase.summary }}</p>

<!--
            <section class="multiples">
              <h3>Actors/Actresses</h3>
	            <ion-chip *ngFor="let actor of akakomfirebase.actors" padding-left padding-right margin-right>{{ actor.name }}</ion-chip>
            </section>
            <section class="multiples">
               <h3>Genres</h3>
               <ion-chip *ngFor="let genre of akakomfirebase.genres" padding-left padding-right margin-right>{{ genre.name }}</ion-chip>
            </section>
-->

         </ion-item>

         <div class="manage-record" padding>
            <button ion-button text-center color="primary" (click)="editAkakomfirebase(akakomfirebase)">Edit</button>
            <button ion-button text-center color="danger" (click)="deleteAkakomfirebase(akakomfirebase)">Delete</button>
         </div>
      </ion-card>
   </ion-list>

</ion-content>
