<ion-menu [content]="content">
  <ion-header>
    <ion-toolbar color="new1">
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content >
    <img src="assets/menu/header.png">
    <ion-list>
      <ion-item menuClose ion-item *ngFor="let p of pages" (click)="openPage(p)">
        <ion-icon name="{{p.icon}}" item-start style="font-size: 28px; color : #59acd6;"></ion-icon> {{p.title}}
<!--
      <button menuClose ion-item *ngFor="let p of pages" (click)="openPage(p)">
        <ion-icon name="{{p.icon}}" style="font-size: 28px; color : #488aff;"></ion-icon>  {{p.title}}
      </button> -->
      </ion-item>
    </ion-list>
  </ion-content>

</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>