<ion-header>
  <ion-navbar>
    <ion-title>Registrasi Akun</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <form [formGroup]="signupForm" (submit)="signupUser()" novalidate>
    <ion-item>
      <ion-label stacked>Email</ion-label>
      <ion-input #email formControlName="email" type="email" placeholder="anda@domain.com" 
        [class.invalid]="!signupForm.controls.email.valid && signupForm.controls.email.dirty">
        </ion-input>
    </ion-item>
    <ion-item class="error-message" 
      *ngIf="!signupForm.controls.email.valid  && signupForm.controls.email.dirty">
      <p>Masukkan format email dengan valid.</p>
    </ion-item>

    <ion-item>
      <ion-label stacked>Password</ion-label>
      <ion-input #password formControlName="password" type="password" placeholder="******" 
        [class.invalid]="!signupForm.controls.password.valid && signupForm.controls.password.dirty">
        </ion-input>
    </ion-item>
    <ion-item class="error-message" 
      *ngIf="!signupForm.controls.password.valid  && signupForm.controls.password.dirty">
      <p>Password harus lebih dari 6 karakter.</p>
    </ion-item>

    <button ion-button block type="submit">
      Create an Account
    </button>
  </form>
</ion-content>
